* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
}
.btn {
  background-color: #ffffff;
  color: aqua;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid aqua;
  border-radius: 5px;
  box-shadow: 0 12px rgb(36, 112, 112), 0 18px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}
.disabled .btn {
  cursor: default;
}
.disabled .btn:hover {
  top: 0;
  background: #ffffff;
  color: aqua;
  box-shadow: 0 12px rgb(36, 112, 112), 0 18px rgba(0, 0, 0, 0.4);
}

.btn.disabled {
  cursor: default;
}
.btn.disabled:hover {
  top: 0;
  background: #ffffff;
  color: aqua;
  box-shadow: 0 12px rgb(36, 112, 112), 0 18px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: aqua;
  color: #0e80b0;
  top: 4px;
  box-shadow: 0 8px rgb(36, 112, 112), 0 14px rgba(0, 0, 0, 0.4);
}
.btn:active {
  top: 8px;
  box-shadow: 0 4px rgb(36, 112, 112), 0 10px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;
}
.game-info {
  margin: 15px;
  color: aqua;
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
}

.board > div {
  display: flex;
}
.game-status{
  margin: 20px auto;
  margin-top: 0px;
}
.game-moves{
  position: absolute;
  left: 25%;
}
@media (max-width: 700px){
  .game-moves{
    position: relative;
    left: 0%;
    margin-bottom: 50px;
  }
}
